<nav class="navbar navbar-expand-lg site-navigation">
  <div class="container">
    <a class="navbar-brand" href="{{ .Site.BaseURL }}">
      <center> Antoine Ridé</center>
    </a>
    <header>  
          <c>
            Antoine Ridé
          </c>
    </header>

    <div class="collapse navbar-collapse" id="sitenavbar">
      <ul class="navbar-nav ml-auto main-nav">
        {{$menu := (.Site.Menus.nav)}} 
        {{$len := (len $menu)}} 
        {{ range $index, $element := $menu }} 
          {{ if eq (add $index 1) $len }}

          {{ else }}
          <li class="nav-item">
            <a class="nav-link" href="{{ .URL | absURL }}"
              >{{ .Name }}</a
            >
          </li>
          {{ end }} 
        {{ end }}
      </ul>
    </div>
  </div>
</nav>
